body{
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    }
       
    * {
        box-sizing: border-box;
      }
      
      /* Create three equal columns that floats next to each other */
     .card-table{
       
        background-color: rgb(187, 182, 174);
     }
   
    .heading{
        background-color: darkgray;
    }
    .sticky {
        margin-bottom: 15px;
        padding: 4px 12px;
        
        width: 127px;
        height: 129px;
      } 
      
      .danger {
        background-color: #ffdddd;
        border-top: 25px solid #f44336;    
        height: 129px;
    }