.sticky {
  margin-bottom: 15px;
  width: 127px;
  height: 210px !important;
  padding-left: 30% !important;

} 
  
.danger {
  background-color: rgb(188, 241, 144)   ;
  border-top: 25px solid rgba(5, 5, 87, 0.884) !important;

  height: 209px !important;
  width: 199px;
  box-shadow: 10px

}
.col {
  flex: 1;
padding: 15px;
}
.task-title {
	white-space: normal;
	margin-top: 4px;
}

.calender {
 width: 92%;
  height: 40px;
  display: flex;
  justify-content: center;
  margin-top: 65px;
}
#cardDisplay{ 
  width: 100%;
  margin-top:50px; 
   display: flex;
   justify-content: center;
  }
  #cardBody{
    width: 100%;
    margin-top:50px; 
     display: flex;
     justify-content: center;
  }
  .prHigh{

    background-color: white !important   ;
    border-top: 25px solid rgb(216, 133, 112) !important;
    border-radius: 15px 10px 0px 0px;
    box-shadow: 5px 10px 18px #888888;
    height: 120px !important;
    width: 250px;
    box-shadow: 10px;
    margin-bottom: 68px;



  }
  .prLow{
    background-color: white !important   ;
      border-top: 25px solid rgb(232, 241, 144) !important;
      border-radius: 15px 10px 0px 0px;
      box-shadow: 5px 10px 18px #888888;

      height: 120px !important;
      width: 250px;
      box-shadow: 10px;
      margin-bottom: 68px;




  }
  .prInit{
    background-color: white !important   ;
    border-top: 25px solid rgb(188, 241, 144) !important;
    border-radius: 15px 10px 0px 0px;
    box-shadow: 5px 10px 18px #888888;
    height: 120px !important;
    width: 250px;
    box-shadow: 10px;
    margin-bottom: 68px;

 
  }
  .card {
    margin-top:50px; 
}