body{
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    background-color: white !important;
    }
       
    * {
        box-sizing: border-box;
      }
      
      /* Create three equal columns that floats next to each other */
     
     .cards{
      background-color: rgba(61, 60, 58, 0.5);
      height: 720 !important;
     }
     .header{
      background-color: cadetblue !important

     }
   
    .heading{
        background-color: darkgray;
    }
    .sticky {
        margin-bottom: 15px;
        padding: 4px 12px;
        width: 127px;
        height: 210px !important;
      } 
      
      .danger {
        background-color: rgb(188, 241, 144)	 ;
        border-top: 25px solid rgba(5, 5, 87, 0.884) !important;

        height: 209px !important;
        width: 199px;
        box-shadow: 10px

    }
    .textarea {
      background-color: transparent;
      border: none;
      resize: vertical;
      font-family: "Gloria Hallelujah", cursive;
      width: 100%;
      padding: 5px;
      font-size: 18px;
    }
    .a{
      padding-left: 30%
    }
    .i{
      margin-left: 169%;
      margin-bottom: -24%;
      color: white;
    }
    .v{
      margin-left: 9%;
      margin-bottom: -24%;
      color: white;

    }
    .hid{
      visibility: hidden;

    }
    