html,body{
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    font-family: 'Numans', sans-serif;
    background-color: white !important;
 
    

    }
       
    * {
        box-sizing: border-box;
      }
      
      /* Create three equal columns that floats next to each other */
     
     .cards{
      height: 720 !important;
      border: 1px solid gray; 
      background-color: #ebebeb
     }
     .header{
      background-color: cadetblue !important

     }
     .danger {
      background-color: rgb(188, 241, 144)	 ;
      border-top: 25px solid rgba(5, 5, 87, 0.884) !important;

      height: 209px !important;
      width: 199px;
      box-shadow: 10px

  }   
    .heading{
        background-color: darkgray;
    }
    .sticky {
        margin-bottom: 15px;
        width: 127px;
        height: 210px !important;
        padding-left: 30% !important;

      } 
    
    .textarea {
      background-color: transparent;
      border: none;
      resize: vertical;
      width: 100%;
      padding: 5px;
      font-size: 18px;
      color: black
    }
    .a{
      padding-left: 30%
    }
    .i{
      margin-left: 169%;
      margin-bottom: -24%;
      color: white;
    }
    .v{
      margin-left: 9%;
      margin-bottom: -24%;
      color: white;

    }
    .hid{
      visibility: hidden;

    }
    .newcard{
      width: 68%;
      height: 308%;
      background-color: aliceblue !important;
    }
    .prHigh{

      background-color: white !important	 ;
      border-top: 25px solid rgb(216, 133, 112) !important;
      border-radius: 15px 10px 0px 0px;
      box-shadow: 5px 10px 18px #888888;
      height: 120px !important;
      width: 250px;
      box-shadow: 10px;
 

    }
    .prLow{
      background-color: white !important	 ;
        border-top: 25px solid rgb(232, 241, 144) !important;
        border-radius: 15px 10px 0px 0px;
        box-shadow: 5px 10px 18px #888888;

        height: 120px !important;
        width: 250px;
        box-shadow: 10px;



    }
    .prInit{
      background-color: white !important	 ;
      border-top: 25px solid rgb(188, 241, 144) !important;
      border-radius: 15px 10px 0px 0px;
      box-shadow: 5px 10px 18px #888888;
      height: 120px !important;
      width: 250px;
      box-shadow: 10px;


     
    }
    .icon{
      width: 17px;
    margin-left: 196px;
    /* position: absolute; */
    margin-bottom: -52px

    

    }
    .right{
      width: 21px;
    margin-bottom: -98px;

    }
   
    #card-header{
      text-align:center;
      color: white !important;
      border-radius: 20px 10px 0px 0px;
      background-color: cadetblue !important;
  }
  .bodyuser{
    box-shadow: 5px 8px 18px #888888;
      height: 100%;
  }

  .card {
      margin-top:50px; 
  }
  .st{
    margin-bottom: 13%;

  }