.header-pos {
    margin-left: 28%;
    margin-top: 2%;

    width: 295px;
  color: aliceblue;
}
.add-det {
    margin-top: 2%;
    margin-left: 14%;
    padding-right: 155px;

}
.carduser{
    margin-left: 354px;
    height: 680px;
    margin-top: 10px;
    width: 844px;
    padding-top: 19px;
    background-color: rgba(0,0,0,0.5) !important;
}
.back{
    /* background-image:url("background.jpeg") ;
     */height:700px;
    padding: 1px;

}
.submit-button{
    margin-left: 128px !important;
   
}
.input-group-text{
    height: 38px;

}
textarea{
 
    height: 80px;
    width: 356px;
}
.cancle{
    margin: -76px !important;
}
.prio{
    width: 157px !important;
    height: 35px !important;
}
.cardtask{
    height: 20% !important;
}
.taskcard{
    background-color: rgba(148, 136, 136, 0.541) !important;
    height: 30% !important;
    margin-right: -32% !important;
    margin-left: 37% !important;
    

    width: 700px;
    margin-top: 7%;

}
.cardheader{
    margin-left: 50% !important;
}
/* .c{
    width: 176%;
    margin-left: 3%;
} */