#fillForm {
    margin-top: 80px !important; 
    background-color:#ebebeb !important;
     border-radius: 24px !important;
}
#alert {
    width:320px !important;
    margin: auto !important;
}
#span {
    width: 200% !important;
}
textarea{
 
    height: 80px !important;
    width: 100% !important;
    margin: auto !important;
}
.prio {
    width: 400% !important;
    height: 35px !important;
    margin: auto;
}
#chead {
    border-radius: 20px 20px 0px 0px; 
}